# ===================================================================
# solstice-bootstrap requirements file
# ===================================================================
pytest
pytest-cov
coveralls